<div class="column-sixteen">
<h1 class="alignment-center">How to Use This CMS</h1>

<p class="alignment-center margin-bottom-double">
    Note: While this document describes all features of the Jakked CMS, not all
    of them may be visible or usable to you depending on your current
    permissions.  If you have questions about this, please contact an admin.
</p>

<h3 id="toc">Table of Contents</h3>
<ul class="plain-list margin-bottom-double">
    <li class="margin-bottom-half">
        <a href="/readme#1.0">1.0 - Your Account</a>
    </li>

    <li><strong>Articles</strong></li>
    <li>&nbsp;<a href="/readme#2.1">2.1 - Edit an Existing Article</a></li>
    <li class="margin-bottom-half">
        &nbsp;<a href="/readme#2.2">2.2 - Publish a New Article</a>
    </li>

    <li><strong>Files</strong></li>
    <li>&nbsp;<a href="/readme#3.1">3.1 - Add or Delete a Gallery</a></li>
    <li class="margin-bottom-half">
        &nbsp;<a href="/readme#3.2">3.2 - Upload a File</a>
    </li>

    <li><strong>Pages</strong></li>
    <li>&nbsp;<a href="/readme#4.1">4.1 - Add a New Page</a></li>
    <li>&nbsp;<a href="/readme#4.2">4.2 - Edit an Existing Page</a></li>
    <li>&nbsp;<a href="/readme#4.3">4.3 - Edit Trainers</a></li>
    <li class="margin-bottom-half">
        &nbsp;<a href="/readme#4.4">4.4 - Update Meet Records</a>
    </li>

    <li><strong>Site</strong></li>
    <li>&nbsp;<a href="/readme#5.1">5.1 - Edit Site Navigation</a></li>
    <li class="margin-bottom-half">
        &nbsp;<a href="/readme#5.2">5.2 - Edit a Widget</a>
    </li>

    <li><strong>Admin</strong></li>
    <li>&nbsp;<a href="/readme#6.1">6.1 - Manage All Site Queues</a></li>
    <li class="margin-bottom-half">
        &nbsp;<a href="/readme#6.2">6.2 - Manage CMS Users</a>
    </li>

    <li><strong>Other</strong></li>
    <li class="margin-bottom-half">
        <a href="/readme#X.X">X.X - An HTML Primer</a>
    </li>
</ul>


<section class="margin-bottom-double" id="1.0">
    <h4>1.0 - Your Account -
        <small><a href="/readme#toc">To Top</a></small>
    </h4>
    <p>Clicking <strong>My Account</strong> takes you to your account profile 
        page. Here you can delete your account, change your password, upload a 
        profile image of yourself, and fill out a biography.</p>
    <p><strong>Passwords</strong> must be at least 8 characters long and a mix 
        of characters, just as required when registering. Never share your 
        password with anyone else and never re-use passwords between websites.
        Your password cannot be seen by admins or any other users.</p>
    <p><strong>Images</strong> must be less than 100Kb in size and either a .gif,
        .png. or .jpg/.jpeg. You can only have one user image at a time and 
        uploading a new one will delete any existing image.</p>
    <p>The <strong>Profile</strong> can optionally use basic HTML
        (see <a href="/readme#X.X">X.X - An HTML Primer</a>), but any custom
        styling, javascript, or advanced HTML will be discarded.</p>
    <p>Your photo and profile are viewable by anyone clicking on an article you
        have written or if you have been flagged as a trainer.</p>
</section>


<section class="margin-bottom-double" id="2.0">
<h2>Articles</h2>
<section id="2.1">
    <h4>2.1 - Edit an Existing Article -
        <small><a href="/readme#toc">To Top</a></small>
    </h4>
    <p>Selecting this feature from the navigation menu takes you an index of all
        existing articles, ordered from newest to oldest. Clicking the Edit link
        next to an article will allow you to edit or delete that article.</p>
    <p>Take care when deleting articles, as this action cannot be undone under
        normal circumstances.</p>
    <p>The <strong>Date</strong> field must be in "YYYY-MM-DD HH:MM:SS" format,
        invalid dates will be rejected.</p>
    <p>The <strong>Author</strong> must be selected from the list of valid
        authors and cannot be manually entered.</p>
    <p>The <strong>Title</strong>, <strong>Tags</strong>, and
        <strong>Body</strong> fields are identical to 
        <a href="/readme#2.2">2.2 - Publish a New Article</a>.</p>
</section>

<section id="2.2">
    <h4>2.2 - Publish a New Article -
        <small><a href="/readme#toc">To Top</a></small>
    </h4>
    <p>Selecting this feature from the navigation menu takes you to the article
        writing page. Here you can write new articles that will automatically
        appear on the front page of the site. <strong>Note:</strong> articles
        written by non-admins are moved to a queue where they must be approved
        by a Site Admin before publication.</p>
    <p>The <strong>Title</strong> should be kept brief but pertinent. Keep in
        mind the space restraints titles have when appearing on the front page,
        particularly when viewed on a phone. The maximum allowed characters in a 
        title is 200.</p>
    <p><strong>Tags</strong> are optional, but make your article easier to find
        in relevant searches. Tags must be separated by commas to work as
        intended. Good tags are general words related to your article content.
        For instance, an article about an upcoming powerlifting meet might be
        tagged "powerlifting, events, meets".</p>
    <p>The <strong>Article Body</strong> is the main text of the article. The
        editor will allow you to insert links, images, and other useful elements,
        and you can optionally apply a number of existing CSS classes by
        clicking the HTML editor button in the top left (see
        <a href="/readme#X.X">X.X - An HTML Primer</a>). If the article is 
        lengthy, it would be a good idea to write it ahead of time in an
        external text file and then copy it into the CMS, so that nothing is
        lost in case of a browser or server error.</p>
    <p>Please keep in mind that this will appear on the front page of the site
        and represents the business. Review thoroughly before submitting,
        depending on your permissions you may not be able to edit the article
        after submission.</p>
</section>
</section>


<section class="margin-bottom-double" id="3.0">
<h2>Files</h2>
<section id="3.1">
    <h4>3.1 - Add or Delete a Gallery -
        <small><a href="/readme#toc">To Top</a></small>
    </h4>
    <p>Selecting this feature from the navigation menu takes you to a list of
        current image galleries, with buttons for their deletion, as well as a
        form to add a new gallery.</p>
    <p>Deleting a gallery cannot be undone and will also delete all images
        currently in that gallery.</p>
    <p>Any galleries you add or delete will automatically have appropriate
        navigation entries created/deleted.</p>
</section>

<section id="3.2">
    <h4>3.2 - Upload a File -
        <small><a href="/readme#toc">To Top</a></small>
    </h4>
    <p>Selecting this feature from the navigation menu takes you to a form
        allowing you to upload select file types, either to include in an article
        or a related calendar event or social media post, or to an image gallery.</p>
    <p>Permitted file types are .pdf with a maximum size of 5Mb or .gif, .png,
        or .jpg/jpeg with a maximum size of 1mb. .docx or .rtf documents
        should be converted to .pdf for easy web viewing, and videos and other
        file types should be uploaded to other appropriate systems (e.g. the
        business Youtube account).</p>
    <p>You must select the appropriate file type for the action you are trying
        to perform, and appropriate gallery if trying to upload an image to a
        gallery. The gallery page will automatically include your new image if
        succesful, including automatically generating a thumbnail. If you need
        to delete an image from a gallery, you'll need to contact the SysAdmin
        at current time.</p>
    <p>Checking the <strong>"Overwrite existing files of the same name?"</strong>
        box will cause any file you upload to overwrite existing files of the
        same name and extension with no further warning or checks. Attempting to
        upload a file that already exists without this box checked will display
        an error and no changes will be made.</p>
    <p>After a sucessful upload, a modal window will appear with the URL of your
        file for you to copy and paste into the intended article/post.</p>
</section>
</section>

<section class="margin-bottom-double" id="4.0">
<h2>Pages</h2>
<section id="4.1">
    <h4>4.1 - Add a New Page -
        <small><a href="/readme#toc">To Top</a></small>
    </h4>
    <p>Selecting this feature from the navigation menu allows you to create a
        new static page. This requires an understanding of HTML
        (<a href="/readme#X.X">#X.X HTML Primer</a>), and it would be useful
        to have an understanding of available css classes for more than a basic
        page.</p>
    <p>The <strong>Name</strong> field is required, accepts plain text, and will
        be used for the page's URL. The Name should never include spaces or
        special characters other than underscores ('_').</p>
    <p>The <strong>Description</strong> field is optional but can be useful to
        increase search engine visibility. It accepts plain text and should be
        155 characters or less.</p>
    <p>The <strong>Title</strong> field is required, accepts plain text, and
        will appear in the browser title bar or tab.</p>
    <p>The <strong>Priority</strong> field describes the importance of a page
        relative to all others on the site.  It is used to a small extent by
        search engines but it is not overly important.  If you're unsure, leave
        it at the default 0.5.</p>
    <p>The <strong>Content</strong> field is required and accepts HTML, PHP, and
        Javascript. This is the body of the page. It will be automatically be
        given a standard container wrapper and the standard header and footer
        will be appended. You should <strong>not</strong> use &lt;html&gt;,
        &lt;head&gt;, &lt;body&gt;, &lt;main&gt;, or any other core structural
        tags beyond what is needed to mark up the content.</p>
</section>

<section id="4.2">
    <h4>4.2 - Edit an Existing Page -
        <small><a href="/readme#toc">To Top</a></small>
    </h4>
    <p>Selecting this feature from the navigation menu takes you to an index of
        existing static pages. These comprise most of the basic pages of the
        site, but some (for example, image galleries) are dynamically generated
        and cannot be edited here. Clicking the Edit link will take you to forms
        allowing you to edit or delete that page.  The fields are the same as
        those described in <a href="/readme#4.1">Add a New Page</a></p>
    <p>Take care when deleting pages, as this action cannot be undone under
        normal circumstances. Before deleting a page which is currently part of
        site navigation and has navigation children, you will need to remove it
        from navigation first (See <a href="/readme#5.1">#5.1</a>).</p>
    <p>Editing may or may not require knowledge of web languages, depending on
        what you are trying to accomplish. This is an unavoidable trade-off of
        not overly restricting what changes can be made as well as not greatly 
        complicating future wider site changes.</p>
    <p>Please contact an admin if you have any questions.</p>
</section>

<section id="4.3">
    <h4>4.3 - Edit Trainers -
        <small><a href="/readme#toc">To Top</a></small>
    </h4>
    <p>Selecting this feature from the navigation menu takes you to a page
        displaying all current trainers, allowing you to edit them, as well
        as a button leading to a form to add a new trainer.</p>
    <p>Trainers which are Not Visible still exist in the database but can't be
        seen on the site.  This is useful if, for example, you want to add a new
        trainer's profile but don't want it visible until you have a photo to
        add for them as well.</p>
</section>

<section id="4.4">
    <h4>4.4 - Update Meet Records -
        <small><a href="/readme#toc">To Top</a></small>
    </h4>
    <p>Selecting this feature from the navigation menu takes you to a set of
        forms allowing you to update meet records for all current categories.</p>
    <p>You should only need to manually input the Name and Record, all other
        required fields should have dropdown selection menus of their valid
        options. You must add a meet in the separate form provided before it can
        be selected for records.</p>
    <p>Only one record can exist for an individual combination of
        classifications. Any records you try to add will safely be ignored if
        the record is lower than or equal to an existing record.</p>
    <p>Bulk updating of records via csv file is planned but not yet implemented.
    </p>
</section>
</section>

<section class="margin-bottom-double" id="5.0">
<h2>Site</h2>
<section id="5.1">
    <h4>5.1 - Edit Site Navigation -
        <small><a href="/readme#toc">To Top</a></small>
    </h4>
    <p>"Site Navigation" refers to the navigation buttons that appears at the
        top of each page of the site and
        is used to access other pages within the site. A "top level entry" is a
        button that is always visible, a "child entry" is a button that is only
        visible after hovering over or clicking another, and a "parent entry" is
        a top-level entry that has children. E.g. in the original setup,
        "gallery" is a parent top-level entry that has children of
        "bodybuilding", "community", etc, while "links" is a top-level entry
        with no children.</p>
    <p>Selecting this feature from the navigation menu takes you to an index
        allowing you to view and edit the current site navigation arrangement.
        First is a representation of the current setup using bulleted lists,
        which is merely there as a visual aid. Below that is a table containing
        all the current entries, as well as buttons allowing you to Edit or
        Delete those entries. Finally comes a form allowing you to add a new
        entry.</p>
    <p>When deleting entries, you cannot delete a parent entry that still has
        children. Move or delete the children first.</p>
    <p>When editing or adding an entry, "Name" refers to the internally used
        name of the page. This name is part of the 
        url (e.g. /name for a static page or /gallery/name for a gallery) and
        is the same as the "name" field when creating a static page or gallery
        using the CMS.</p>
    <p>"Route" refers to path to the page, not including the domain name, e.g. a
        page at 'http://jakkedhardcore.com/foobar' has a route of '/foobar'.
        Routes are always unique.</p>
    <p>"Title" is what site visitors will see on the button or list item for
        this entry. It can contain spaces and should have appropriate
        capitalization. It should be descriptive but very short, excessive
        length may cause problems with site styling.</p>
    <p>"Description" will be shown to non-mobile visitors hovering over a button
        or to visitors using site readers or other accessbility devices. It does
        not need to be overly long but should give a basic indication of what
        the page's content contains.</p>
    <p>The "Top-Level Entry?" checkbox determines whether the entry you are
        adding or editing will be a top level entry. You cannot move what is
        currently a parent entry from the top level until all its children are
        moved or deleted.</p>
    <p>If the entry is not a top-level entry, the "Parent" dropdown will be
        available, allowing you to select which parent the entry you are adding
        or editing will become the child of.</p>
    <p><strong>Warning: This feature has unavoiably limited functionality.</strong>
        This CMS feature is intended to allow you to make minor changes within
        the existing layout without requiring web design knowledge, it cannot be 
        used, by itself, to totally revise the site navigation structure. Mobile
        navigation will successfully adapt to any and all changes made, but
        adding child entries to any parent entry other than the current first
        two, or making changes to the titles of those first two parent entries,
        or adding more than five top-level entries, will require editing site
        styles for non-mobile visitors.</p>
</section>
<section id="5.2">
    <h4>5.2 - Edit a Widget -
        <small><a href="/readme#toc">To Top</a></small>
    </h4>
    <p>"Widgets" refers to all other small site features not complex enough to
        warrant a full management system. Selecting this feature from the
        navigation menu will take you to a navigable index of the management
        pages for all current widgets.</p>
    <p>The current widgets are: <strong>Alert Banner</strong>,
        <strong>Header Quotes</strong>, and 
        <strong>Shelter Animal Gallery</strong>.</p>
</section>
</section>

<section class="margin-bottom-double" id="6.0">
<h2>Admin</h2>
<section id="6.1">
    <h4>6.1 - Manage All Site Queues -
        <small><a href="/readme#toc">To Top</a></small>
    </h4>
    <p>Selecting this feature from the navigation menu takes you to the queue
        management index. All features of the site which allow outside people to
        upload content are handled through a queue system to prevent abuse.</p>
    <p>Clicking the Edit link next to any item takes you to a view where you may
        approve or reject the submission, and edit it if necessary before
        approval. Once you submit approval, that item will be moved to the site
        and be removed from the queue. Rejected items are deleted permanently.</p>
</section>

<section id="6.2">
    <h4>6.2 - Manage CMS Users -
        <small><a href="/readme#toc">To Top</a></small>
    </h4>
    <p>Selecting this feature from the navigation menu takes you to a list of
        current users. Clicking the Trainer checkbox will flag or unflag that
        user from showing up on the Trainers page. Clicking the
        <strong>Edit</strong> link next to a user will allow you to delete that
        user or change their roles.</p>
    <p>Checking a box next to a user role that includes the permissions of other
        roles will uncheck and disable those lesser roles.</p>
</section>
</section>

<section class="margin-bottom-double" id="X.X">
    <h4>X.X - An HTML Primer -
        <small><a href="/readme#toc">To Top</a></small>
    </h4>
    <p>HTML is a means of "marking up", or structuring, text, as well as adding
        links, images, and other useful elements. HTML uses "tags", which are
        designated by '&lt;' and '&gt;' symbols. Most tags come in pairs, an
        opening tag and a closing tag, surrounding the text they apply to and
        identical aside from a '/' at the start of the closing tag.</p>
    <p>For instance, &lt;p&gt;this is a paragraph&lt;/p&gt; while this is not in
        the paragraph.</p>
    <p>Some tags have no closing tag, instead including the '/' at the end of
        the lone tag. These are called "empty tags"</p>
    <p>For instance, &lt;img /&gt; is an image tag, which are empty tags.</p>
    <p>Tags can have attributes, which are included in the opening tag in the
        format 'attribute="value"' and with a space between the tag type and any
        attributes. Most attributes are optional, but some tags have required 
        attributes.</p>
    <p>For instance, an &lt;img /&gt; tag must have a 'src' attribute to be
        valid, with the value of the src attribute being the URL of the image
        you want shown,<br/> e.g. &lt;img src="http://example.com/example.jpg"
        /&gt;</p>
    <p>Many tags can be safely nested as long as the closing tags and opening
        tags do not occur out of order. The innermost tag must be closed first,
        then working outwards.</p>
    <p>For instance, &lt;h1&gt; &lt;h2&gt; &lt;h3&gt; &lt;/h3&gt; &lt;/h2&gt;
        &lt;/h1&gt; is fine, while &lt;h1&gt; &lt;h2&gt; &lt;h3&gt; &lt;/h2&gt;
        &lt;/h1&gt; &lt;/h3&gt; breaks.</p>
    <p>Many tags can work together when nested.</p>
    <p>For instance, an &lt;a&gt; tag creates a clickable text link when placed
        around text, but it can also be placed around an &lt;img&gt; tag to
        create an image which is a clickable link, <br/>e.g. 
        &lt;a href="http://example.com"&gt;&lt;img
        src="http://example.com/example.jpg" /&gt;&lt;/a&gt;</p>
    <p>Some tags only work in conjunction with other nested tags.</p>
    <p>For instance, a &lt;ul&gt; tag creates an unordered list, which does
        nothing until you populate it with &lt;li&gt; tags, which are list items,
        <br/>
        e.g. &lt;ul&gt;&lt;li&gt;Item One&lt;/li&gt;&lt;li&gt;Item Two&lt;/li&gt;
        &lt;li&gt;Item Three&lt;/li&gt;&lt;/ul&gt;</p>
    <p>HTML describes the structure of a page, but how that structure is
        presented to the viewer is governed by a seperate language called CSS.
        Existing CSS can be applied to HTML tags using the 'class' attribute.
        This is not something you'll generally use if you are reading this, but
        it can help you understand the content and intent of a page when editing
        it. Multiple classes can be applied to a single tag using a single class
        attribute by putting a space between them.</p>
    <p>For instance, &lt;p class="foo"&gt;this is a paragraph of class
        foo&lt;/p&gt; &lt;p class="foo bar"&gt;this is a paragraph of both class
        foo and class bar&lt;/p&gt;</p>
    <h5>Basic HTML Tags</h5>
    <ul>
        <li>&lt;p&gt;&lt;/p&gt; - Paragraph, closing a paragraph creates a line
            break and trailing space.</li>
        <li>&lt;h1-6&gt;&lt;/h1-6&gt; - Heading, large text with surrounding
            space. &lt;h1&gt; is the largest and &lt;h6&gt; the smallest.</li>
        <li>&lt;strong&gt;&lt;/strong&gt; - Strong text, makes the text slightly
            bolder and/or larger. Use sparingly for emphasis.</li>
        <li>&lt;em&gt;&lt;/em&gt; - Italicized text. Use sparingly for emphasis.
        </li>
        <li>&lt;a href=""&gt;&lt;/a&gt; - Link, href value must be the URL of
            the page or file you want the link to point to.</li>
        <li>&lt;img src="" /&gt; - Image, src value must be the URL of the image
            you want shown.</li>
        <li>&lt;ul&gt;&lt;/ul&gt; - Unordered (Bulleted) List, does nothing
            without list items.</li>
        <li>&lt;ol&gt;&lt;/ol&gt; - Ordered (Numbered) List, does nothing
            without list items.</li>
        <li>&lt;li&gt;&lt;/li&gt; - List Item, must be within an unordered or
            ordered list.</li>
        <li>&lt;br /&gt; - Line break, should <strong>only</strong> be used to
            insert a line break in the middle of a paragraph, if you want a new
            paragraph with proper trailing space you should close the existing
            paragraph tag and open a new one.</li>
    </ul>
</section>
</div>