<div class="column-sixteen image-row-container">
    <h1 class="heading-page">About Us</h1>
    <img src="images/aboutus/powerlifting.jpg"
        alt="One of the top powerlifting gyms in the nation" />
    <img src="images/aboutus/strongman.jpg"
        alt="One of the top strongman gyms in the nation" />
    <img src="images/aboutus/athletics.jpg"
        alt="Everything you need to get stronger and faster" />
</div>

<div class="column-row">
    <section class="column-eight">
        <h2 class="heading-section">Professional Instruction</h2>
        <p>We have free weekly classes available to train you in proper equipment 
            use, provide you with new ideas to incorporate into your workouts,
            and help keep you motivated.  We want to ensure that everyone,
            novice and veteran alike, is able to reach their goals.
        </p>
        <p>We also offer affordable, one on one personal training from one of
            our specialized trainers that is based on your own unique goals,
            whether you are looking to lose weight, build muscle, or train for a
            specific event.
        </p>    
        <div class="container-center">
            <a href="/trainers/" title="Personal Trainers" class="button-large">
                Meet our Trainers
            </a>
        </div>
    </section>
    <section class="column-eight">
        <h2 class="heading-section">Bodybuilding &amp; Powerlifting</h2>
        <p>A number of award-winning competitors have found a home at Jakked
            Hardcore. Whether you're trying to reach the next level of
            competition or just starting, you'll love our extensive equipment
            and driven atmosphere.
        </p>
        <p>Unlike at commercial lifting gyms, our community is about respecting 
            hardwork and success, not egos.  Regardless of whether you look big
            or lift big, or if you're just starting down one of those roads,
            you'll find members and staff here who genuinely want to see you
            achieve your best.
        </p>
        <div class="container-center">
            <a href="/powercorps" title="Powerlifting and Strongman"
            class="button-large">
                About Our Teams
            </a>
        </div>
    </section>
</div>

<div class="column-row margin-bottom-double">
    <section class="column-eight">
        <h2 class="heading-section">Strongman Training</h2>
        <p>We are the home of the best-equipped strongman training facility in
            the state of Illinois and host to the NAS state chair!
        </p>
        <p>We have a full-size loading platform, 16" power stairs, a wide range 
            of stones, kegs, sandbags, anvil weights, logs, tires, fingers, and
            any other heavy implement you could name, plus a car deadlift frame,
            towing harnesses, and more.
        </p>
    </section>          
    <section class="column-eight">
        <h2 class="heading-section">Athletic Training</h2>
        <p>We have an indoor turf run, olympic platform, heavy bags, advanced
            sports training equipment, and specialized trainers who are
            experienced athletes and ready to help you reach your full potential
            in high school, collegiate, or recreational sports.
        </p>
        <p>Ask us about group training packages and discounted memberships for
            local high school teams.
        </p>
    </section>
</div>

<div class="column-row">
    <div class="column-eight alignment-center">
        <a href="rates" title="Our Rates" class="button-large">
            See Our Rates
        </a>
    </div>
    <div class="column-eight alignment-center">
        <a href="/contactus/" title="Contact Us" class="button-large">
            Contact Us
        </a>
    </div>
</div>
