<section class="column-sixteen" id="yes">
    <h1 class="heading-extreme">Yes</h1>
</section>

<section class="column-sixteen margin-bottom">
    <p class="para-heading">The "Health Club" Industry sells you scary images of
        serious gyms as intimidating places full of greek statues fighting over
        mirror space or giant musclebound jerks with single-digit IQs.
    </p>

    <p class="margin-bottom-quarter">The reality is that Jakked
        Gym is full of REAL everyday people:
    </p>

    <img src="images/everyone/sam.jpg" alt="Jakked is for Everyone"
        class="image-inline-right" />

    <ul>
        <li>women</li>
        <li>students</li>
        <li>seniors</li>
    </ul>

    <p class="margin-bottom-quarter">With REAL everyday goals:
    </p>

    <ul>
        <li>weight loss</li>
        <li>personal improvement</li>
        <li>physical therapy</li>
        <li>and more</li>
    </ul>

    <p>Spend some time talking to our members and you'll see the difference.  
        We're proud to offer one of the best facilities in the Midwest for
        strength athletes, but we're about providing the atmosphere,
        encouragement, and community to help you succeed <em>whatever</em> your
        goals are.
    </p>

    <p>New to gyms and lifting?  We have a variety of personal trainers
        available and free weekly classes to instruct you and keep you motivated.
        We love newbies!
    </p>
</section>

<section class="column-row alignment-center">
    <h2 class="heading-section">Jakked Hardcore Gym is for everyone!</h2>
    <div class="column-eight">
        <a href="aboutus" class="button-large-smalltext"
        title="About Jakked Hardcore Gym">
            Read More About Our Gym
        </a>
    </div>
    <div class="column-eight">
        <a href="liferebuilt" class="button-large-smalltext"
        title="About Byron Hicks">
            Think You're Facing Challenges?
        </a>
    </div>
</section>
