<section class="splash">
    <video class="splash-video" poster="video/jakked_commercial.png" controls
        preload>
        <source src="video/jakked_commercial-iphone.mp4" type="video/mp4"
            media='only screen and (max-device-width: 1024px)'>
        <source src="video/jakked_commercial-ff.webm" type="video/webm">
        <source src="video/jakked_commercial-iphone.mp4" type="video/mp4">
    </video>
    <h1 class="splash-heading">
        The Premiere Strongman and Powerlifting Gym in Illinois
    </h1>
    <div class="splash-description">
    <p>Tired of the corporate-fitness boom yet? We are a small family owned
        "old-school gym" offering you a serious strength facility with NO binding
        contracts or costly hidden sign up fees! You pay <em>only</em> for your
        membership as you go!
    </p>
    <p>At Jakked, we provide a haven for those who demand real
        results from their training. Whether you are a national-level strength
        athlete or an everyday person just trying to improve their lives, our
        environment, equipment, and people will help you to exceed your goals.
    </p>
    <p>It's time to get serious and leave the rest behind.  Drop by Jakked
        Hardcore Gym today for your membership!
    </p>    
    </div>
    <a class="splash-cta" href="everyone#yes" title="Jakked Gym Highlights">
        Is Jakked For <span>Me</span>?
    </a>
</section>

<div class="column-row">
    <section class="news equalize">
        <img src="images/ajax-loader.gif" alt="Ajax Request In Progress" />
    </section>

    <section class="column-five alignment-center equalize">
        <h2 class="heading-section">Upcoming Events</h2> 
        <div class="gcal-wrapper">
            <img src="images/ajax-loader.gif" alt="Ajax Request In Progress" />
        </div>

        <h2 class="heading-section">Recent Videos</h2>
        <div class="youtube-wrapper">
            <img src="images/ajax-loader.gif" alt="Ajax Request In Progress" />
        </div>
    </section>

    <section class="column-three alignment-center equalize">
        <table class="gymhours">
            <thead class="gymhours-header">
                <tr><th colspan="2">GYM HOURS</th></tr>
            </thead>
            <tbody>
                <tr>
                    <td>Monday</td>
                    <td data-th="Mon">5am - 9pm</td>
                </tr>
                <tr>
                    <td>Tuesday</td>
                    <td data-th="Tue">5am - 9pm</td>
                </tr>
                <tr>
                    <td>Wednesday</td>
                    <td data-th="Wed">5am - 9pm</td>
                </tr>
                <tr>
                    <td>Thursday</td>
                    <td data-th="Thu">5am - 9pm</td>
                </tr>
                <tr>
                    <td>Friday</td>
                    <td data-th="Fri">5am - 9pm</td>
                </tr>
                <tr>
                    <td>Saturday</td>
                    <td data-th="Sat">8am - 6pm</td>
                </tr>
                <tr>
                    <td>Sunday</td>
                    <td data-th="Sun">9am - 1pm</td>
                </tr>
            </tbody>
        </table>
        <a href="rates" title="Jakked Rates">
            <img class="image-block" src="images/index/joinjakked.gif"
                alt="Join Jakked Hardcore Gym Today!" />
        </a> 
    </section>
</div>

<script data-main="js/src/main/main" data-page="main/routes/Flat/index"
    src="js/require.js"></script>
