<div class="column-sixteen">
    <h1 class="heading-page">A Life Rebuilt</h1>

    <div class="video-container">
        <div class="video-wrapper">
            <iframe src="//www.youtube.com/embed/1jqr5fG8Efs"
                frameborder="0" allowfullscreen></iframe>
        </div>
    </div>

    <p>Elburn native reaches bodybuilding stage after horrific accident</p>
    <p>December 13, 2007</p>
    <p>By <a href="mailto:jowczarski@scn1.com">JIM OWCZARSKI</a>, Staff writer, 
        <a href="http://www.suburbanchicagonews.com/beaconnews/sports/695208,2_2_AU13_HICKS_S1.article">
            Beacon News</a>
    </p>

    <p>The act alone was unremarkable, a grown man walking across a stage. The
        significance of it was monumental.
    </p>
    <p>Byron Hicks works out at the gym he owns, Jakked Hardcore in Montgomery.
        Five years removed from a horrible car accident, Hicks won a
        bodybuilding event.
    </p>
    <p>As Byron Hicks competed Saturday at the Midwest Ironman Figure and
        Fitness show at the Gateway Theater in Chicago, he showed off a physique
        over a decade in the making. As he moved, posing, flexing, displaying
        carefully crafted definition, one element to his structure defined not
        who he is, but what he is about.
    </p>
    <br/>

    <p>In May of 2002, the 250-pound Hicks found himself wedged into a borrowed
        Ford Escort while his more appropriately sized Ford F-150 was being
        worked on. A block away from switching rides, a car made an unexpected 
        U-turn in front of him and the two collided.
    </p>
    <p>At impact, Hicks' right femur was like a window pane falling to the
        pavement -- but because of his muscular frame the damage remained
        contained within his leg.
    </p>
    <p>Only after an eight-hour wait in the hospital did a doctor realize his
        thigh had swollen to a disproportionate size.
    </p>
    <p>The femoral artery was severed in the accident, and Hicks was bleeding
        out internally. To save his life, a fasciotomy was performed to release
        the building pressure. An incision from the knee to the hip was made, 
        causing Hicks' leg to burst open like a slice sausage casing.
    </p>
    <p>The bleeding was contained, but the severity of the injury presented a
        problem. Because the femur is so large and is a part of the hip and
        knee, its reconstruction was complicated. After a week, it was decided
        Hicks had to be moved to a different facility. But infection set in,
        resulting in 13 "cleanup" procedures as doctors shaved dead
        muscle in an effort to avoid amputation.
    </p>
    <p>The infection eventually cleared, and new hardware was put in his leg to
        give Hicks a chance to walk again.
    </p>

    <img class="image-inline-right" src="images/liferebuilt/byronpose.jpg"
    alt="Byron Posing" />

    <p>It was June, nearly a month after the accident, and it was just a chance.
    </p>
    <p>"It was very traumatic mentally," Hicks said. "It was very
        hard to deal with for awhile. It was hard to deal with for a long time,
        actually. That whole summer was spent at home laying in bed looking out
        the window. Mentally it was very hard.
    </p>
    <p>"Even at that time I didn't know if I'd be able to walk again. I was
        still laying in bed. I knew I was alive, I knew I had my leg, but I
        didn't know what level of experience my life would be from that point
        on. It was tough for awhile."
    </p>
    <p>It wasn't until September 2002 that Hicks was able to get onto crutches,
        and his once massive body had shed 50 pounds. A fitness demon and a
        bodybuilder in training, the former martial artist and Kaneland football
        player couldn't leg curl 10 pounds, couldn't get out of bed on his own
        and was faced with the prospect of needing some kind of walking aid the
        rest of his life.
    </p>
    <p>Just 25 years old, Hicks chose a different path.
    </p>
    <br/>

    <p>He returned to the gym, and supplemented his prescribed physical therapy
        with exercises he developed at home. At first, he could only sit.
        Eventually he could stand. And on his own, he would ditch his cane and
        move around the gym. He was unsteady, but unfettered -- seven months
        after the accident.
    </p>
    <p>"Something like this could break anybody," said Tami Hicks,
        Byron's wife of close to eight years. "I can't give myself credit,
        but I can say I did have to pick him up a few times, a couple times when
        he just wanted to give up. I couldn't let him. It affected my life, my
        kid's lives, his life. I loved him too much. I had to push him harder,
        and once I did I think it was kind of like the domino effect and got it 
        going.
    </p>
    <p>"He realized how lucky he was to be alive, to have his leg, to be
        able to walk eventually. It just took a long time to get to that
        point."
    </p>
    <p>Hicks wasn't to the point where he could walk around a mall, but progress
        was being made. He could stand, walk and work, but his hip and knee
        would not bend at the same time, eliminating his ability to resume
        serious bodybuilding.
    </p>
    <p>During that time, he and Tami decided to go into business for themselves
        and opened Jakked Hardcore Gym in Montgomery in September 2006. Now that
        the gym was literally his livelihood, Hicks broke through.
    </p>
    <p>"I've gotten, it seemed, everything I could in my life back to
        normal from before the accident," he said. "The one thing I
        didn't get back that I wanted truly was to be able to get on stage at
        least one time. Just to see if I even liked it, because I'd never done
        it. It was such a want for me then, then taken unfairly, to me, in my
        head, it wasn't settled."
    </p>
    <p>He sought out Chuck Sanow of USA Gym in Bridgeview to train him for
        competition, a decision based on Sanow's renowned ability to work the
        legs.
    </p>
    <p>The work was hard and painful. A year ago, Hicks spent a week in December
        barely able to walk due to the extreme soreness. But he pressed forward,
        putting the finishing touches on a rebuilding effort that led to his
        first competition on Dec. 8.
    </p>
    <p>"As far as getting through it, we adjusted and just accepted what
        life threw at us," Tami Hicks said. "It was baby steps."
    </p>
    <p>Those baby steps led Hicks, now 30, to a second-place finish in the open
        men's heavy division of the National Physique Committee-Illinois's event
        in Chicago, while taking first place as well as top overall in the novice 
        men's heavy division. The victory qualified him for national events.
    </p>
    <p>But there is a reminder -- a large, bulbous scar on his right leg from
        the fasciotomy. Self-conscious at first, especially in a sport where
        you win or lose based on your appearance, the new muscle structure from
        the 17 surgeries he endured led to look all his own.</p>
    <p>"It's pretty wild looking. It's pretty nuts," Hicks said with a
        chuckle. "That ended up being a strong point. It's kind of cool."
    </p>
    <p>Now, Hicks and his wife are back at Jakked, working on making their
        business a success. But what of the future? It took five years for Hicks
        to finally make the stage, and the victory was sweet.
    </p>
    <p>"We are seeing success (at the gym), we are finding members that are
        extremely happy with the place and now I want to spend a little bit more
        time with those people and work with them a little bit more," Hicks
        said. "But at the same time, that win is still sitting there and
        feeling really good and I don't want to let that go.
    </p>
    <p>"Being only 30, I don't feel I'm that far out from being where I
        could have been even though it's been five years. If I'm already at the
        national level now, then there's a chance I could maybe get through it.
    </p>
    <p>"Why not? Let's see." <em>jowczarski@scn1.com</em>
    </p>
</div>
