<div class="column-sixteen">
    <h1 class="heading-page">Our Friends</h1>
</div>

<div class="column-row">
    <div class="column-four">
        <a href="http://www.powerliftingwatch.com" rel="external">
            <img src="images/links/powerliftingwatch.gif"
                alt="Powerlifting Watch" class="image-block" />
        </a></div>
    <div class="column-four">
        <p>See video from the meet @
            <a href="http://www.powerliftingwatch.com/node/10588" rel="external">
                www.powerliftingwatch.com
            </a>
        </p>
    </div>
    <div class="column-four">
        <a href="http://www.upapower.com/" rel="external">
            <img src="images/links/upa-logo.gif" alt="UPA" class="image-block" />
        </a>
    </div>
    <div class="column-four">
        <p>Byron Hicks is the Illinois State Chairman for the
            <a href="http://www.upapower.com/" rel="external">UPA</a>
        </p>
        <p>
            <a href="http://www.upapower.com/downloads/membership_application.pdf"
            rel="external">Register</a> as a UPA Member<br />
            Read the <a href="http://www.upapower.com/downloads/official_2008_upa_rulebook_revised.pdf"
            rel="external">Rule Book</a><br />
            Take the <a href="http://www.upapower.com/downloads/upa_judges_test.pdf"
            rel="external">Judge Exam</a>
        </p>
    </div>
</div>

<div class="column-row">
    <div class="column-four">
        <a href="http://www.pridenutrition.com/" rel="external">
            <img src="images/links/PrideBanner.jpg" alt="Pride Nutrition"
                class="image-block" />
        </a>
    </div>
    <div class="column-four">
        <p>Check out the products at
            <a href="http://www.pridenutrition.com/" rel="external">
                Pride Nutrition</a>
        </p>
    </div>
    <div class="column-four">
        <a href="http://www.nastrongman.com/" rel="external">
            <img src="images/links/nass_logo.gif" alt="NAS" class="image-block" />
        </a>
    </div>
    <div class="column-four">
        <p>
            <a href="http://www.nastrongman.com/" rel="external">
                North America's
            </a>
            premier governing body for amateur strongman athletes.
        </p>
    </div>
</div>

<div class="column-row">
    <div class="column-four">
        <a href="http://www.nolimitsauto.com" rel="external">
            <img src="images/links/no-limits-decal1.jpg" alt="No Limits Auto"
                class="image-block" />
        </a>
    </div>
    <div class="column-four">
        <p>At <a href="http://www.nolimitsauto.com" rel="external">
            No Limits Auto, Inc</a>, we pride ourselves on the quality of the
            auto services we provide along with the customer satisfaction and
            retention with each and every visit.
        </p>
    </div>
    <div class="column-four">
        <a href="http://npcillinoisbodybuilding.com" rel="external">
            <img src="images/links/npcmusclelogo.jpg" alt="NPC"
                class="image-block" />
        </a>
    </div>
    <div class="column-four">
        <p>
            <a href="http://www.npcillinoisbodybuilding.com" rel="external">
                NPC Illiniois
            </a>
            - Promoting Bodybuilding In Illinois
        </p>
    </div>
</div>

<div class="column-row">
    <div class="column-four">
        <a href="http://www.usagyminc.com/index.html" rel="external">
            <img src="images/links/USAGymReduced3.JPG" alt="USA Gym"
                class="image-block" />
        </a>
    </div>
    <div class="column-four">
        <p>
            <a href="http://www.usagyminc.com/index.html" rel="external">
                USA Gym Inc.
            </a>
        </p>
        <p>RECOGNIZED AS ONE OF THE BEST HARDCORE GYMS IN AMERICA!</p>
    </div>
        <div class="column-four">
        <a href="http://www.bodymorphpros.com" rel="external">
            <img src="images/links/bodymorph.png" alt="USA Gym"
                class="image-block" />
        </a>
    </div>
    <div class="column-four">
        <p>
            <a href="http://www.usagyminc.com/index.html" rel="external">
                Body Morph Pros
            </a>
        </p>
        <p>Your Voice in Midwest Bodybuilding</p>
    </div>
</div>
