<div class="column-sixteen margin-bottom">
    <h1 class="heading-page">Jakked Powercorps</h1>
    <img class="image-block" src="images/powercorps/powerflashalt.png"
        alt="Jakked Hardcore Gym Powercorps" />
</div>

<div class="column-sixteen">
    <p class="para-heading">The <span class="font-family-secondary">POWERCORPS</span>
        is composed of the ad-hoc strongman and powerlifting teams here at Jakked
        Hardcore Gym. The members are lifters, from base beginners to veteran
        state and national level competitors, who train together, compete
        together, and represent Jakked Hardcore Gym nation-wide.  Interested in
        becoming a member?
    </p>
</div>

<div class="column-row">
    <section class="column-ten">
        <h2 class="heading-section">Powercorps is about respect</h2>
        <h3 class="heading-section-minor">Membership is free&#42; but it isn't
            cheap
        </h3>
        <ul>
            <li>Everyone, of any skill and experience level, is welcome.  We all
                at one time started from nothing and we know fresh blood is vital
                to the future of strength sports.
            </li>
            <li>Powercorps is about growing and succeeding as a team and
                community, not as individuals.  The sole metric we use is whether
                you're giving your maximum effort.  All egos must be checked at
                the door.
            </li>
            <li>We believe creating a safe and encouraging space for women, LGBT,
                and other minority competitors is very important.  If you ever
                feel we're failing to live up to that, please let us know right
                away.
            </li>
            <li>Powercorps members rely on each other for motivation and
                accountability just as much as anything else, so please be on
                time and consistent in your attendance.
            </li>
            <li>If at all possible, always stick around until the end to make
                sure every team member gets the most out of their workout and
                that equipment you helped use gets put back in its proper place.
            </li>
            <li>Be respectful of our gym.  Especially when training with a large
                group, it's easy to misplace bottles, wraps, and other small
                items.  Be sure to leave the space as you found it.
            </li>
        </ul>
        <p class="para-footnote">&#42; There are no additional fees for
            Powercorps membership, but an all-access monthly membership or
            all-access daypass is required to train in the strongman and
            powerlifting rooms.
        </p>
    </section>
    <section class="column-six">
        <h3 class="heading-section-minor">The Powercorps teams currently meet:</h3>
            <ul>
                <li class="list-title">Strongman</li>
                <li>Monday: 7:30pm</li>
                <li>Wednesday: 7:30pm</li>
                <li>Saturday: 11am</li>
            </ul>
            <ul>
                <li class="list-title">Powerlifting</li>
                <li>Tuesday: 8:00pm (Deadlift)</li>
                <li>Thursday: 8:00pm (Bench)</li>
                <li>Saturday: 10am (Squat)</li>
            </ul>
        <p>For upcoming meet information, please see our front page or visit our
            friends at the 
            <a href="http://www.upapower.com/" rel="external">UPA</a>, 
            <a href="http://www.nastrongman.com/" rel="external">NAS</a>, and 
            <a href="http://www.chicagopowerlifting.com/apf-illinois.html"
            rel="external">
                APF
            </a>.
        </p>
        <p>For any additional questions, please see Byron Hicks.</p>
    </section>
</div>
