<div class="column-seven">
    <h1 class="heading-page">Our Rates</h1>
    <ul class="tabs">
        <li><a class="active" href="#individuals">Individuals</a></li>
        <li><a href="#couples">Families</a></li>
        <li><a href="#special">Special</a></li>
    </ul>
    <ul class="tabs-content">
        <li class="active" id="individuals">
            <table>
                <thead>
                    <tr><th colspan="2">Membership</th></tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Monthly</td>
                        <td>$40</td>
                    </tr>
                    <tr>
                        <td>Monthly All-Access</td>
                        <td>$50</td>
                    </tr>
                    <tr>
                        <td>Annual</td>
                        <td>$360</td>
                    </tr>
                    <tr>
                        <td>Annual All-Access</td>
                        <td>$450</td>
                    </tr>
                </tbody>
                <thead>
                    <tr><th colspan="2">Day Passes</th></tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Day (includes All-Access)</td>
                        <td>$10</td>
                    </tr>
                    <tr>
                        <td>Punchcard (5 Day passes, never expires)</td>
                        <td>$40</td>
                    <tr>
                    <tr>
                        <td>Week</td>
                        <td>$20</td>
                    </tr>
                    <tr>
                        <td>Week All-Access</td>
                        <td>$35</td>
                    </tr>
                </tbody>
            </table>
        </li>
        <li id="couples">
            <table>
                <thead>
                    <tr><th colspan="2">Couples</th></tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-th="Couples">Monthly</td>
                        <td>$70</td>
                    </tr>
                    <tr>
                        <td data-th="Couples">Monthly All-Access</td>
                        <td>$90</td>
                    </tr>
                    <tr>
                        <td data-th="Couples">Annual</td>
                        <td>$630</td>
                    </tr>
                    <tr>
                        <td data-th="Couples">Annual All-Access</td>
                        <td>$810</td>
                    </tr>
                </tbody>
                <thead>
                    <tr><th colspan="2">Families</th></tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-th="Families">Monthly</td>
                        <td>$95</td>
                    </tr>
                    <tr>
                        <td data-th="Families">Monthly All-Access</td>
                        <td>$120</td>
                    </tr>
                </tbody>
            </table>
        </li>
        <li id="special">
            <table>
                <thead>
                    <tr><th colspan="2">Police, Fire, &amp; Students</th></tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-th="Police, Fire, &amp; Students">Monthly</td>
                        <td>$35</td>
                    </tr>
                    <tr>
                        <td data-th="Police, Fire, &amp; Students">Monthly All-Access</td>
                        <td>$45</td>
                    </tr>
                    <tr>
                        <td data-th="Police, Fire, &amp; Students">Annual</td>
                        <td>$320</td>
                    </tr>
                    <tr>
                        <td data-th="Police, Fire, &amp; Students">Annual All-Access</td>
                        <td>$420</td>
                    </tr>
                </tbody>
            </table>
            <p class="para-heading">Ask us about special rates for local high
                school teams and more!
            </p>
        </li>
    </ul>
    <img src="images/join/byron.jpg" class="image-block" alt="Byron Hicks" />
</div>

<div class="column-nine">
    <h2 class="heading-section">What Does All-Access Include?</h2>
    <p>In addition to our excellent main gym area covered by the standard rate, 
        which contains a full array of standard gym equipment including our
        dumbbells, cardio deck, and most of our machines, all-access membership
        includes:
    </p>
    <ol>
        <li>Our Powerlifting Room, with two monolifts, three competition
            benches, deadlift platform, specialized bars, boxes, bands, chains,
            boards, and everything else a powerlifter could want.
        </li>
        <li>Our Athletic Room, with an open turf run, glute-ham raise,
            reverse-hyperextension, ropes, bags, sleds, and other advanced
            training equipment.
        </li>
        <li>Our Strongman Room, featuring multiple lifting and loading platforms 
            and a huge array of logs, stones, kegs, axles, and more.  We're the
            best strongman training facility in the Midwest and one of the
            best-equipped in the nation.
        </li>
        <li>A Free weekly group training class to familiarize yourself with our 
            equipment, learn new techniques to add to your routine, or just get
            the extra motivation a group provides.
        </li>
        <li>The ability to jump in with our powerlifting or strongman teams
            during any of their three weekly group sessions.  Beginners welcome!
        </li>
    </ol>
</div>

<div class="column-sixteen">
    <h2 class="heading-section">Top 10 Reasons to join:</h2>
    <ol>
        <li>No Binding Contracts or Initial Sign up Fees! We Offer Day &amp;
            Week Passes and Various Packages as well as Everyday Specials!
        </li>
        <li>We have Four Separate Large Training Rooms. Each one Specifically
            for General Strength &amp; Fitness Training, Athletic Training,
            Powerlifting, and Strongman!
        </li>
        <li>Affordable Memberships- Police, Fire, Military, Student, Couple &amp; 
            Family Rates Are Available
        </li>
        <li>We sell only the Highest Quality Protein, Energy and Weight Loss
            Supplements &amp; Drinks at Jakked Gym!
        </li>
        <li>Open 7 days a week (certain holiday exceptions apply).</li>
        <li>Top of the Line Commercial Quality Equipment - Hammerstrength, Life
            Fitness, Body Solid, Cybex, Hoist, Metal Militia, Legend, Mastodon,
            Jesup, &amp; Texas Bars.
        </li>
        <li>We are a Family Owned, Small Business- Not a Corporation or a Chain! 
            Therefore we have a Polite, Experienced &amp; Very Friendly Staff
            Here to Make You Feel Welcome, Whatever Your Fitness Needs Are!
        </li>
        <li>Specialized and Certified Personal Training Available for Both
            Individuals and Groups in: Strongman, High School &amp; College
            Sports, Bodybuilding, Powerlifting, and Weight loss/Cardio Fitness.
        </li>
        <li>We Allow Chalk, Sweat, Grunting And Chains, while Our Dumbbells Max
            at 265 lbs.
        </li>
        <li>Always Upbeat &amp; Motivating Music Playing! Never Elevator or Lite
            FM!
        </li>
    </ol>
</div>

<script data-main="js/src/main/main" data-page="lib/tabs" src="js/require.js">
</script>
